registry = https://registry.npmmirror.com
electron_mirror = https://npmmirror.com/mirrors/electron/
provenance = true
save-exact = true
tag-version-prefix=""
strict-peer-dependencies = false
auto-install-peers = true
lockfile = true
# public-hoist-pattern[]=*prisma*