::-webkit-scrollbar {
  display: none;
}

@keyframes float {
  0% {
    transform: translateX(-2px) translateY(0);
  }
  25% {
    transform: translateX(-2px) translateY(-2px) translateZ(0) rotate(-1deg);
  }
  50% {
    transform: translateX(1px) translateY(-2px) translateZ(0) rotate(1deg);
  }
  75% {
    transform: translateX(2px) translateY(-2px) translateZ(0) rotate(-1deg);
  }
  100% {
    transform: translateX(-2px) translateY(0) translateZ(0) rotate(0deg);
  }
}

.resizeHandleClass {
  transition: background-color 0.8s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.darkMode {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
